@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("..fonts/pt-sans-v17-latin_cyrillic-regular.woff2") format("woff2");
  src: url("..fonts/pt-sans-v17-latin_cyrillic-regular.woff") format("woff");
  font-display: swap;
  }

@font-face {
    font-family: "PT Sans", sans-serif;
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/pt-sans-v17-latin_cyrillic-italic.woff2") format("woff2");
    src: url("../fonts/pt-sans-v17-latin_cyrillic-italic.woff") format("woff");
    font-display: swap;
    }

@font-face {
      font-family: "PT Sans", sans-serif;
      font-style: normal;
      font-weight: 700;
      src: url("../fonts/pt-sans-v17-latin_cyrillic-700.woff2") format("woff2");
      src: url("../fonts/pt-sans-v17-latin_cyrillic-700.woff") format("woff");
      font-display: swap;
      }

@font-face {
        font-family: "PT Sans Narrow", sans-serif;
        font-style: normal;
        font-weight: 700;
        src: url("../fonts/pt-sans-narrow-v17-latin_cyrillic-700.woff2") format("woff2");
        src: url("../fonts/pt-sans-narrow-v17-latin_cyrillic-700.woff") format("woff");
        font-display: swap;
        }

body {
/* Основной шрифт для сайта*/
width: 2040px;

font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
text-transform: uppercase;

background: #FFFFFF;
color: #242424;
}

*, *::after, *::before, *:focus, *:active, *:hover {
  box-sizing: border-box;
}

h1, h2, h3, a {
  font-family: "PT Sans Narrow", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 700;

}
h2 {
  font-size: 32px;
  line-height: 110%;
}

h3 {
  font-size: 20px;
  line-height: 140%;
}

a {
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  text-decoration: none;
}

p{
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-transform: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1020px;
  padding-left: 40px;
  padding-right: 40px;
  background: #000000;

  border: 1px solid green;
}

main .container {
  background-image: url(/img/Background.jpg);
  background-repeat: no-repeat;
}

footer .container {
  background: #242424;
  background-image: url(/img/pattern.svg);
  background-repeat: repeat;
  padding-bottom: 40px;
}

.wrapper {
  width: 940px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  background: #FBF7F4;
  border: 1px solid red;
  /* как задать 2 фона?*/
  background-image:   url(/img/Razdelit.svg) no-repeat center,
  url(/img/pattern.svg) repeat;
}

.box {
  border:1px solid #000000;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: 220px 700px;
  grid-column-gap: 19px;
}

.butt {
  font-family: "PT Sans", sans-serif;

  display: inline-block;
  background: #000000;
  height: 44px;
  padding: 14px 20px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.butt:hover {
  background: #814B18;
}

.butt:focus {
  background: #814B18;
  border: 2px solid #DBB590;
}

.head-a {
  color: #FFFFFF;
  padding: 24px 20px;
  border: 4px solid greenyellow;
  }

.head-a:hover {
  background: #595959;
  box-sizing: border-box;
  color: #FFFFFF;
 }  

.head-a:focus {
  border: 14px solid #E7E7E7;
  box-sizing: border-box;
  color: #FFFFFF;
}

.nav-item {
  color: #BDBDBD;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  padding-bottom: 64px;
}

.features-h2 {
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 56px;
  position: relative;
}

.features-h2::after {
  position: absolute;
  top: 59px;
  left: 50%;
  margin-left: -9px;

  display: block;
  content: "";
  width: 18px;
  height: 18px;
  background: #FFFFFF;
  transform: rotate(45deg);
}

.features-p {
  color: #FFFFFF;
  text-align: center;
}

.features-li {
  width: 277px;
  padding-bottom: 58px;
}

.section-2 {
  margin-bottom: 31px;
}

.services, .fotogalery {
  width: 430px;
}

.services-h2 {
  padding-bottom: 28px;
}

.services-li {
  padding-bottom: 22px;
  padding-right: 40px;
}

.services-price {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #AF7842;
}

.vector {
  margin: 0 16px;
  border-bottom: 2px dotted #595959;
  height: 20px;
  flex-grow: 1;
}

.services-butt {
  margin-top: 8px;
  margin-bottom: 54px;
  padding-right: 44px;
  background-image: url('/img/Stroke.svg');
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.fotogalery-h2 {
  margin-left: 40px;
  padding-bottom: 20px;
}

.fotogalery-img {
  margin-left: 40px;
  margin-bottom: 16px;
}

.fotogalery .flex {
  margin-left: 40px;
  justify-content: center;
  column-gap: 8px;
}

.fotogalery-point {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #BDBDBD;
  cursor: pointer;
}


.fotogalery-point:hover {
  background-color: #AF7842;
}
.fotogalery-point:focus {
  background-color: #DBB590;
}
.fotogalery-point:active, .fotogalery-point:first-child {
  background-color: #242424;
}

.section-3 {
  margin-bottom: 61px;
}

.section-3 .wrapper {
  padding-bottom: 40px;
  
}

.cont {
  width: 391px;
}

.cont-h2 {
  padding-bottom: 24px;
}

.cont-logo {
  padding-bottom: 8px;
  color: #AF7842;
}

.cont-p {
  padding-bottom: 8px;
  font-weight: 700;
}

.cont-tel {
  font-size: 24px;
  line-height: 120%;
  text-decoration-line: underline;
  padding-bottom: 22px;
}

.cont-time {
  font-weight: 700;
  text-transform: none;
  padding-bottom: 21px;
}

.cont .flex {
  justify-content: flex-start;
  column-gap: 16px ;
}

.cont-but-w {
  background: #FFFFFF;
  color: #242424;
}

.form {
  width: 469px;
}

.form-butt {
  margin-right: 0;
  grid-column: 1 / 3;
}

.form-p {
  font-size: 14px;
  line-height: 140%;
  margin-left: 40px;
  color: #595959;
  padding-bottom: 24px;
}

.form-form {
  margin-left: 40px;
  display: grid;
  grid-template-columns: 114px 74px 205px;
  grid-column-gap: 17px;
  grid-row-gap: 19px;
}

input {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  background: #FFFFFF;
  border: 2px solid #242424;
  color: #bdbdbd;
  height: 44px;
  padding: 10px 16px;
  outline: 0;
}

input:hover {
  border: 2px solid #AF7842;
}

input:focus {
  border: 2px solid #AF7842;
  outline: 2px solid #DBB590;
}

.form-lab {
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 8px;
}

.form-data .form-lab::after, 
.form-time .form-lab::after  {
content:"";
display: inline-block;
width: 12px;
height: 12px;
margin-left: 4px;
background-image: url(/img/i.svg);
background-repeat:no-repeat;
background-position:right;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.form-name {
  grid-column: 1 / -1;
}

.foot {
  padding-top: 40px;
  border: 1px solid lawngreen;
}

.foot-st1 {
  width: 220px;

  }

  .foot-a:last-child{
    padding-bottom: 0;
  }

.foot-st2 {
  width: 350px;
}

.foot-st2 .flex {
  justify-content: flex-start;
}

.foot-logo {
  margin-bottom: 27px;
}

.foot-p {
  color: #FFFFFF;
  padding-top: 36px;
  font-size: 14px;
}

.foot-a {
  text-decoration-line: underline;
  color: #FFFFFF;
  padding-top: 4px;
  padding-bottom: 12px;
}

.foot-email {
  border: 2px solid #000000;

  font-family: "PT Sans", sans-serif;
  background: #FFFFFF;
  height: 44px;
  padding: 10px 16px;
  color: #BDBDBD;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-transform: none;
}

.butt-item {
  width: 56px ;
  height: 44px;
background:#000000;

background-repeat:no-repeat;
background-position: center;
background-size: 16px 16px ;
border: 2px solid #000000;
}

.butt-item svg {
color:#FFFFFF;
}

.butt-item:hover {
  background:#FFFFFF;
  color:#000000;
}

.foot-h3 {
  color: #FFFFFF;
padding-bottom: 14px;
}

.foot-made {
  color: #AF7842;
  text-decoration: underline;
  text-transform: none;
}

.foot-social-a {
  width: 56px;
  height: 44px;
  margin-right: 8px;
  text-align: center;
  background: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

.foot-social-tw {
background-image: url(/img/twitter.svg);
}

.foot-social-vk {
  background-image: url(/img/VK.svg);

}

.foot-social-inst {
  background-image: url(/img/instagram.svg);
}

/*+++++++++++++++ Catalog ++++++++++= */
.catalog-logo {
  padding-left: 0;
  padding-right: 0;
  padding-top: 25px;
  padding-bottom: 27px;

  border: 4px solid red;
  /* width: 200px; */
  /* margin-right: 150px; */
}
.logo-img {
  width: 140px;
  height: 18px;
}

main .container-catalog {
  margin-top: 40px;
  background:#FBF7F4;
  background-image:   url(/img/pattern.svg);
  background-repeat: repeat;
}

main .breadcrumbs-flex {
justify-content: flex-start;
}

.breadcrumbs {
  margin-bottom: 32px;
  border: 4px solid gold;
}

.breadcrumbs-h1 {
  line-height: 110%;
  margin-bottom: 16px;
}

.breadcrumbs-a {
  font-weight: 400;
font-size: 16px;
line-height: 140%;
text-decoration: underline;
text-transform: none;
color: #242424;
padding-right: 32px;
}

.filter {
  grid-column: 1/2;
  width: 240px;
  border: 4px solid green;
}

.filter-wrap {
  margin-bottom: 40px;
  border:none;
  padding: 0;
}

.filter-h3 {
  padding: 0;
  margin-bottom: 22px;
  margin-left: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
}

.filter-lab {
display: block;
font-weight: 700;
font-size: 16px;
line-height: 140%;
text-transform: none;
margin-bottom: 16px;
margin-left: 30px;
}

.filter-point::before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
}

.select-wrap {
  width: 260px;
  height: 44px;
  margin-right: auto;
  padding: 10px 16px;
  background-color: #FFFFFF;
  border: 2px solid #242424;
}

.view {
  width: 56px;
  height: 44px;
  background: #000000;
  color: #FFFFFF;
  padding: 14px 20px;
}

.view:active, .view:hover {
  background: #FFFFFF;
  color: #000; 
}

.cards-filt {
  grid-column: 2/3;
  margin-bottom: 16px;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(79, 70, 60, 0.16);
  
  }

  .cards-wrap {
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 24px;
  }

.cart {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  width: 220px;
  background: #F7F7F7;
  box-shadow: 0px 4px 8px rgba(79, 70, 60, 0.16);
}

.cart-wrap {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin-top: 16px;
  padding: 16px;
  background: #FFFFFF;
  flex-grow: 1;
}

.cart-but {
  margin-top: auto;
}

.cart-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 8px;
}

.cart .services-price {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 120%;
}
