body {
  width: 2040px;
  text-transform: uppercase;

color: #242424;
}
* {
  box-sizing: border-box;
}

.box {
  border:1px solid #000000;
}

p{
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-transform: none;
}

.container {
  width: 1020px;
  padding-left: 40px;
  padding-right: 40px;
  background: #000000;

  border: 1px solid green;
}
.wrapper {
  width: 940px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  background: #FBF7F4;
  border: 1px solid red;


}

h2 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
 
}

h3 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
}

a {
  margin: 0;
  padding: 0;

  font-weight: 700;
font-size: 16px;
line-height: 140%;
text-transform: uppercase;
text-decoration: none;
}

.hidden {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
justify-content: space-between;
}

.butt {
  background: #000000;
  height: 44px;
  padding: 14px 20px;
  color: #FFFFFF;
  font-weight: 700;
font-size: 16px;
line-height: 100%;
text-align: center;
text-transform: uppercase;
}

.services, 
.fotogalery, 
.cont, 
.form {
width: 470px;
}

.nav {
  padding-top: 24px;
  padding-bottom: 24px;
}

.head-a {
  color: #FFFFFF;
  padding-right: 40px;
  

}

.logo {
  margin-left: 330px;
  margin-right: 330px;
  margin-top: 64px;
  padding-bottom: 64px;

}


.features-h2 {
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 56px;
}

.features-p {
  color: #FFFFFF;
  text-align: center;
}

.features-li {
  width: 277px;
  padding-bottom: 58px;

}

.section-2 {
  margin-bottom: 31px;
}

.services-h2 {
  padding-bottom: 28px;
}

.services-li {
  padding-bottom: 22px;
  padding-right: 40px;
}

.services-butt {
  margin-top: 8px;
  margin-bottom: 54px;
}

.fotogalery-h2 {
  margin-left: 40px;
  padding-bottom: 20px;
}

.fotogalery-img {
  margin-left: 40px;
}

.section-3 {
  margin-bottom: 61px;
}

.cont-h2 {
  padding-bottom: 24px;
}

.cont-logo {
  padding-bottom: 8px;
  color: #AF7842;
}

.cont-p {
  padding-bottom: 8px;
  font-weight: 700;
}

.cont-tel {
  text-decoration-line: underline;
  padding-bottom: 22px;
}

.cont-li {
  text-transform: none;
  padding: 8px;
}

.cont-butt {
  margin-top: 13px;
  margin-right: 16px;
  margin-bottom: 40px;
}

.cont-but-w {
  background: #FFFFFF;
  color: #242424;
}

.form-p {
  margin-left: 40px;
  color: #595959;
  padding-bottom: 24px;
}

.form-form {
  margin-left: 40px;
}

.foot {
  padding-top: 40px;
  border: 1px solid lawngreen;

}

.foot-st1 {
  width: 220px;
  }

.foot-st2 {
  width: 300px;
}

.foot-logo {
  margin-bottom: 27px;
}

.foot-p {
  color: #FFFFFF;
  padding-bottom: 4px;
}

.foot-a {
  text-decoration-line: underline;
  color: #FFFFFF;
  padding-bottom: 16px;
}

.foot-h3 {
  color: #FFFFFF;
padding-bottom: 14px;
}

.foot-made {
  color: #AF7842;
  text-decoration: underline;
  text-transform: none;
}

.foot-img-a {
  width: 44px;
  height: 44px;
  text-align: center;
}
.foot-img {
  padding: 14px;
}